* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    height: 100%;
    background-color: black;
}

#menu {
    display: none;
}

.container {
    width: 100%;
    margin: auto;
    background-color: #f7f7f7;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Lora", serif;
    padding: 17px 250px;
    height: 40px;
    color: #2e2e2e;
}

header .links {
    display: flex;
    font-size: 12px;
    width: 376.61px;
    text-transform: uppercase;
    align-items: center;
}

.logo {
    width: 92px;
    height: 26px;
}

header .logo {
    margin-top: 10px;
}

.links a {
    display: block;
    font-family: 'Oxygen', sans-serif;
    padding: 10px 20px;
}

.heading {
    width: 100%;
    text-align: center;
    font-family: "Lora", serif;
}

.main-title {
    margin: 82px auto 0;
    width: 80%;
    text-align: center;
    font-size: 50px;
    color: #2e2e2e;
    line-height: 51px;
    letter-spacing: 2px;
}

.sub-title {
    font-family: 'Oxygen', sans-serif;
    margin: 20px auto 0;
    color: rgba(46, 46, 46, 63%);
    width: 80%;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0%;
}

.body-image {
    width: 100%;
    margin-top: 113px;
}

.body-image img {
    width: 100%;
}

.main-text {
    padding: 140px 240px 135px;
    font-family: 'Oxygen', sans-serif;
    color: #101315;
    font-size: 24px;
    line-height: 35px;
}

footer {
    font-family: "Lora", serif;
    height: 89px;
    color: #fff;
    background: url("../assets/footer.png") rgba(35, 47, 56, 60%);
    background-size: cover;
    background-blend-mode: multiply;
}

.footer__bar {
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__bar .logo {
    margin-top: 31px;
}

.footer__bar .links {
    display: flex;
    width: 640px;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 60%);
    font-family: 'Oxygen', sans-serif;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 1px;
}

@media screen and (max-width: 1080px) {
    footer {
        padding: 0 17px;
    }

    header .links {
        justify-content: flex-end;
    }

    header .links a {
        display: none;
    }

    #menu {
        display: block;
    }

    header {
        padding: 17px 0;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .body-image {
        overflow: hidden;
    }

    .body-image img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    
    .main-text {
        padding: 140px 0 135px;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__bar .logo {
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    footer {
        height: auto;
    }

    .footer__bar .links {
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 0;
    }
}