main {
    background-color: #f7f7f7;
}

.main__filter-bar {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 21px;
    padding: 9px 0 10px;
}

.main__filter-bar a {
    font-family: "Lora", serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #768088;
    text-decoration: none;
    display: block;
    width: 139px;
    padding: 13px 0;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .main__filter-bar {
        gap: 0;
    }

    .main__filter-bar a {
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    .main__filter-bar {
        flex-wrap: wrap;
    }

    .main__filter-bar a {
        width: 33%;
    }
}