* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h1, h2, h3 {
    font-weight: normal;
}

body {
    background: url("background.png") #42464966;
    background-size: cover;
    background-blend-mode: multiply;

    min-height: 100vh;
    min-width: 100%;
}

::-webkit-scrollbar {
    display: none;
}