.input-block {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.input-block__caption {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #7a7a7a;
}

.input-block__sub-caption {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #999;
}

.input-block__text-area {
    padding: 8px 4px;
    background-color: #f7f7f7;
    border: none;
    border-bottom: #2e2e2e solid 1px;

    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;
}

.input-block__text-area_error {
    border-bottom: #e86961 solid 1px;
}

.input-block__text-area::placeholder {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;
}

.input-block__text-area:focus {
    background-color: #fff;
    border-bottom: #eaeaea solid 1px;
    outline-width: 0;
}

.input-block__tip {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #e86961;
}

.input-block__checkbox-block {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.input-block__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.input-block__checkbox-block label {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;

    display: inline-flex;
    align-items: center;
}

.input-block__checkbox-block label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid #555555;
    background-color: #f7f7f7;
    border-radius: 6px;
    margin-right: 0.5em;
}

.input-block__checkbox-block:hover:not(:checked) label::before {
    border: 2px solid #7a7a7a;
}

.input-block__checkbox:checked + label::before {
    background-color: #dd783f;
}

.input-block__checkbox:checked:not(:hover) + label::before {
    border: 2px solid #dd783f;
}

.input-block__checkbox:checked:hover + label::before {
    border: 2px solid #da8f64;
    background-color: #da8f64;
}


.input-block__img-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.input-block__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.input-block__avatar_none {
    border: dashed #d3d3d3 1px;
}

.image_uploaded {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.input-block__img-input, .input-block__img-delete {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.input-block__img-input input[type=file],
.input-block__img-delete input[type=button] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.input-block__img-input span {
    position: relative;
	display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;
}

.input-block__img-delete span {
    position: relative;
	display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #e86961;
}

.input-block__date {
    padding: 8px 4px;
    background-color: #f7f7f7;
    border: none;
    border-bottom: #2e2e2e 1px solid;

    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;
}

.input-block__hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.input-block__hero-img img {
    width: 100%;
    height: 100%;
}

.input-block__hero-img_none {
    border: dashed #d3d3d3 1px;
    height: 160px;
}

.input-block__hero-img_sub {
    width: 60%;
    margin-right: 40%;
}

.input-block__content-area {
    background-color: #fff;
    border: 1px #eaeaea solid;
    padding: 8px;
    height: 160px;

    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2e2e2e;

    resize: vertical;
}

.input-block__content-area::placeholder {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #999;
}

.input-block__content-area_error {
    border-bottom: #e86961 solid 1px;
}

.hidden {
    display: none;
}

.hide-password {
    font-family: 'password';
    -webkit-text-security: disc;
    font-size: 20px;
}

.input-block__hide-switch {
    position: relative;
    top: -36px;
    left: 90%;
}

@media screen and (max-width: 1000px) {
    .input-block__hide-switch {
        left: 88%;
    }
}