* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h1, h2 {
    font-weight: normal;
}

body {
    width: 1440px;
    margin: 0 auto;
}

header {
    height: 483px;
    background-image: url("../assets/header-background.jpg");
}

.header__bar {
    padding: 0 250px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    padding: 10px 0;
    width: 92px;
    height: 26px;
}

.header__links {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 40px
}

.header__links a {
    font-size: 12px;
    line-height: 20px;
    font-family: 'Oxygen', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.heading {
    padding: 110px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading__caption {
    font-family: "Lora", serif;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #fff;
}

.heading__sub-caption {
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #ffffffa0;
    display: block;
    margin-top: 20px;
}

.heading__button {
    background-color: #dd783f;
    border: none;
    border-radius: 3px;
    padding: 12px 31px;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    margin-top: 31px;
}

main {
    background-color: #f7f7f7;
}

.main__filter-bar {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 21px;
    padding: 9px 240px 10px;
}

.main__filter-bar a {
    font-family: "Lora", serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #768088;
    text-decoration: none;
    display: block;
    width: 139px;
    padding: 13px 0;
    text-align: center;
}

.post-group {
    padding: 60px 250px 0;
}

.post-group__caption {
    display: block;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: #2e2e2e;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 188px;
    padding: 0 0 16px;
    border-bottom: 1px solid #dedede;
}

.featured-posts {
    margin-top: 23px;
    display: grid;
    grid-template-columns: 460px 460px;
    column-gap: 20px;
}

.featured-posts__post {
    display: flex;
    flex-direction: column;
    height: 245px;
    padding: 20px 20px 15px;
    border-radius: 3px;
}

.featured-posts__post:nth-child(1) {
    background-image: url("assets/featured-posts/road-ahead.png");
}

.featured-posts__post:nth-child(2) {
    background-image: url("assets/featured-posts/from-top-down.png");
}

.featured-posts__filter {
    align-self: flex-start;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.featured-posts__filter li {
    list-style-type: none;
    padding: 6px 9px 7px;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0;
    color: #fff;
    background-color: #dd783f;
    border-radius: 2px;
}

.featured-posts__post h1 {
    display: block;
    color: #fff;
    font-family: "Lora", serif;
    font-size: 27px;
    line-height: 30px;
    letter-spacing: 0;
    margin-top: auto;
    margin-bottom: 6px;
}

.featured-posts__post h2 {
    display: block;
    color: #ffffffb3;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    margin-bottom: 12px;
}


.featured-posts__footer-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.featured-posts__profile-picture {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.featured-posts__footer-bar p {
    display: block;
    margin-left: 10px;
    color: #ffffffb3;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 35px;
    letter-spacing: 0;
}

.featured-posts__footer-bar time {
    display: block;
    margin-left: auto;
    color: #ffffffb3;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 35px;
    letter-spacing: 0;
}